.buttonSearch {
    border-radius: 200px;
    padding: 16px 60px;
    width: 173px;
    height: 56px;
    background-color: var(--button);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #fff;
}

.buttonSearch:hover {
    background-color: #d84343;
}