.sectionType {
    margin-bottom: 64px;
}

.typeHeader {
    position: relative;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 48px;
}

.typeHeader::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    height: 1px;
    background-color: rgba(16, 40, 20, 0.1);
    width: 100%;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 10px;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.label {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 115px;
    height: 95px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: var(--main);
    cursor: pointer;
    transition: all 0.2s;
}

.visuallyHidden:checked+.label {
    border: 1px solid var(--button);
}