.header {
    margin-bottom: 10px;
    background-color: antiquewhite;
    width: 100%;
}

.navigation {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.navLink {
    border-radius: 5px;
    padding: 5px;
    background-color: aqua;
}

.active {
    background-color: chartreuse
}