.header {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    background: var(--inputs);
    width: 100%;
    z-index: 100;
    color: rgb(230, 236, 241);
}

.navigation {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.navLink {
    font-size: 24px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(15, 7, 246);
    display: flex;
    align-items: center;
    gap: 10px;
}

.active {
    background-color: rgb(27, 166, 138)
}

@media (max-width:768px) {
    .linkName {
        display: none;
    }

}

@media (min-width:768px) {
    .navigation {
        justify-content: flex-start;
        gap: 50px
    }
}