.campersBox {
    width: 100%;
    max-width: 888px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 100px;
}

.camperCard {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    max-width: 888px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: var(--main);
}

@media (min-width:1024px) {
    .camperCard {
        display: flex;
        gap: 24px;
    }
}

.camperInformationSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 526px;
}

.image {
    width: 100%;
    max-width: 290px;
    height: 310px;
    border-radius: 10px;
    object-fit: cover;
}



.locationPoint {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}



.modelCamper {
    font-size: 24px;
}

.namePriceBlock {
    width: 100%;

    margin-bottom: 8px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 158px;
}

.reviewsLocation {
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

}

.reviews {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.description {
    max-width: 238px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonShowMore {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #fff;
    border-radius: 200px;
    padding: 16px 40px;
    width: 166px;
    height: 56px;
    background-color: var(--button);
}

.buttonShowMore:hover {
    background-color: #d84343;
}

.buttonLoadMore {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px solid rgba(71, 84, 103, 0.2);
    border-radius: 200px;
    padding: 16px 32px;
}

.buttonAddToFavorite {
    background-color: transparent;
}

@media (min-width:768px) {
    .description {
        max-width: 526px;
    }

    .namePriceBlock {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:1024px) {
    .camperInformationSection {
        gap: 30px
    }

    .image {
        max-width: 100%;
        margin-bottom: 30px;
    }
}